body {
    margin-top: 5%;
    text-align: center;
    background-color: grey;
    /* background-image: linear-gradient(135deg, rgb(96, 96, 96),rgba(128, 128, 128, 0.666)); */
}

.image {
    position:relative;
    margin: auto;
    /* border: 2px solid red; */
    /* background-color: black; */
    width: 40vw;
    height: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour, #min, #seconds {
    position: absolute;
    background-color: black;
    transform-origin: bottom;
}


#hour{
    height: 25%;
    width: 1.65%;
    left: 49%;
    top: 24.7%;
    /* background-color: aqua; */
    /* display: none; */
}
#min{
    height: 30%;
    width: 1%;
    border: 10px ;
    left: 49.3%;
    top: 19.6%;
    /* background-color: aqua; */

    /* display: none; */
}
#seconds{
    height: 35%;
    width: .5%;
    border: 10px ;
    left: 49.57%;
    top: 14.6%;
    /* background-color: grey; */

    /* display: none; */
}

#digital{
    margin-top: 5%;
    font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 7px;

    text-align: center;
    font-style: italic;
    font-weight: bold;
    /* transform: translateX(-50%) translateY(-50%); */
    /* background: black; */
    color: #403d3d;
    margin-bottom: 5%;
}